{% extends "base.html" %}

{% block content %}
    <!-- Banner Start -->
    <section class="banner">
        <div class="container ">
            <div class="row gy-4 gy-sm-0 align-items-center">
                <div class="col-12 col-sm-6">
                    <div class="banner__content">
                        <h1 class="banner__title display-4 wow fadeInLeft" data-wow-duration="0.8s">Add New Card</h1> 
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb wow fadeInRight" data-wow-duration="0.8s">
                                <li class="breadcrumb-item"><a href="{{ url_for('home')}}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add New Credit Card</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="banner__thumb text-end">
                        <img src="{{ url_for('static', filename = 'images/contact_banner.svg')}}" alt="image" style="max-height: 30vh;">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner End -->
   
<!-- content start -->
<section class="sign-up contact section">
    <div class="container">
        <div class="row gy-5 gy-xl-0 justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-7 col-xxl-8">

                <form method="POST" action="/add_credit_card" enctype="multipart/form-data" autocomplete="off" class="sign-up__form wow fadeInDown" data-wow-duration="0.8s">
                    {{ form.csrf_token }}
                    <h3 class="contact__title wow fadeInDown" data-wow-duration="0.8s">Add New Credit Card</h3>
                    <div class="sign-up__form-part">

                        
                        <div class="input-single">
                            {{ form.name.label(class="control-label") }}
                            {{ form.name(class="form-control", required=true) }}
                        </div>

                        <div class="input-single">
                            {{ form.bank.label(class="control-label") }}
                            {{ form.bank(class="form-control", required=true) }}
                        </div>

                        <div class="input-single">
                            {{ form.card_type.label(class="control-label") }}
                            {{ form.card_type(class="form-control", required=true) }}
                        </div>

                        <div class="input-single">
                            {{ form.pros.label(class="control-label") }}
                            {{ form.pros(class="form-control", required=true) }}
                        </div>

                        <div class="input-single">
                            {{ form.cons.label(class="control-label") }}
                            {{ form.cons(class="form-control", required=true) }}
                        </div>

                        <div class="input-single">
                            {{ form.categories.label(class="control-label") }}
                            {{ form.categories(class="form-control", required=true) }}
                        </div>

                        <div class="input-single">
                            {{ form.rewards.label(class="control-label") }}
                            {{ form.rewards(class="form-control") }}
                        </div>

                        <div class="input-single">
                            {{ form.monthly_fee.label(class="control-label") }}
                            {{ form.monthly_fee(class="form-control") }}
                        </div>

                        <div class="input-single">
                            {{ form.annual_fee.label(class="control-label") }}
                            {{ form.annual_fee(class="form-control") }}
                        </div>

                        <div class="input-single">
                            {{ form.min_income.label(class="control-label") }}
                            {{ form.min_income(class="form-control") }}
                        </div>

                        <div class="input-single">
                            {{ form.interest_free_days.label(class="control-label") }}
                            {{ form.interest_free_days(class="form-control") }}
                        </div>

                        <div class="input-single">
                            {{ form.interest_rate.label(class="control-label") }}
                            {{ form.interest_rate(class="form-control") }}
                        </div>

                        <div class="input-single">
                            {{ form.features.label(class="control-label") }}
                            {{ form.features(class="form-control") }}
                        </div>

                        <div class="input-single">
                            {{ form.travel_features.label(class="control-label") }}
                            {{ form.travel_features(class="form-control") }}
                        </div>

                        <div class="input-single">
                            {{ form.requirements.label(class="control-label") }}
                            {{ form.requirements(class="form-control") }}
                        </div>

                        <div class="input-single">
                            {{ form.benefits.label(class="control-label") }}
                            {{ form.benefits(class="form-control") }}
                        </div>

                        <div class="input-single">
                            {{ form.discounts.label(class="control-label") }}
                            {{ form.discounts(class="form-control") }}
                        </div>

                        <div class="input-single">
                            {{ form.insurance.label(class="control-label") }}
                            {{ form.insurance(class="form-control") }}
                        </div>

                        <div class="input-single">
                            {{ form.photo.label(class="control-label") }}
                            {{ form.photo(class="form-control-file", accept="image/*") }}
                        </div>
                    </div>
                    <button type="submit" value="submit" class="btn_theme btn_theme_active mt_40">Upload <i class="bi bi-arrow-up-right"></i><span></span></button>
                </form>

                {{ ckeditor.load() }}
                {{ ckeditor.config(name='content') }}

                {% if form.errors %}
                    <ul class="errors">
                        {% for field, errors in form.errors.items() %}
                            {% for error in errors %}
                                <li>{{ field }} - {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}

            </div>
        </div>
    </div>
</section>
<!-- content end -->

{% endblock %}
